bin/
obj/
*.dat
*.pdb
*vshost*
*.suo
VPServices.csproj.user
Build/VPServices Failsafe.bat
Build/VPServices.exe
Build/VPServices.exe.config
Build/Test/
Build/Backups/
Build/UserSettings.ini
Build/Void/
Build/Settings - Test.ini
Build/TriviaQuickfire.csv
Build/VPServices.lnk
Ideas.txt
Build/*.bak
Build/*.dat
Build/*.dll
Build/*.xml
Build/*.db
Build/Libraries/sqlite3.dll
