<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VpNet" publicKeyToken="59c6dba8997fd469" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.1966" newVersion="1.0.8.1966"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
